.ri{
	float: right;
}
.bo{
	margin-top: 15px;
}
.register-head{
	height: 43px;
	padding: 13px 10px 0 10px;
	text-align: center;
	color: #333;
	font-size: 18px;
	font-family: "黑体";
}
.register-head .glyphicon{
	font-size: 20px;
}

/*表单部分*/
.register-info-input,
.register-info-input-short{
	width: 100%;
	height: 40px;
	padding: 0 16px;
	margin-top: 10px;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
}
.register-info-input-short .glyphicon,
.register-info-input .glyphicon{
	padding-right: 10px;
	color: #24dfc2;
	font-size: 17px;
	text-align: right;
	top: 5px;
}
.register-info-input-short .spliter,
.register-info-input .spliter{
	height: 26px;
	display: inline-block;
	vertical-align: middle;
	border-left-color: #ccc;
}
.register-info-input input{
	height: 38px;
	padding-left: 10px;
	width: 80%;
	font-size: 14px;
	font-family: "黑体";
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	border: none;
}
.register-info-submit-btn{
	background-color: #FF573A;
	color: white;
	width: 88%;
	margin:10px auto;
	display: block;
	font-size: 20px;
	font-family: "黑体";
	outline: none;
}
.btn.focus, .btn:focus, .btn:hover {
	color: #fff;
}
.register-info-input-short  input[type="text"]{
	height: 38px;
	padding-left: 10px;
	width: 50%;
	font-size: 14px;
	font-family: "黑体";
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	border: none;
}
.verify-code{
	font-size: 12px;
	width: 29%;
	background-color: #FF573A;
	color: white;
	height: 80%;
	margin-bottom: 3px;
	font-family: "黑体";
}

/*=================确认订单=================*/
.orderconfirm-head{
	height: 43px;
	padding: 13px 10px 0 10px;
	text-align: center;
	color: #333;
	font-size: 18px;
	font-family: "黑体";
	border-bottom: 1px solid #eee;
	background-color: white;
}
.consumer-info{
	width: 100%;
	padding: 0 16px;
	background-color: white;
}
.consumer-info .glyphicon{
	display: inline-block;
	padding-right: 10px;
	font-size: 17px;
	text-align: right;
	width: 10%;
	color: #aaa;
}
.consumer-info .consumer-name{
	display: inline-block;
	margin-top: 11px;
	font-family: "黑体";
	font-size: 21px;
	color: #333;
	margin-right: 10px;
}
.consumer-info .consumer-phone{
	font-family: "黑体";
	font-size: 19px;
	color: #222;
}
.consumer-info .consumer-rightarrow{
	font-family: "黑体";
	font-size: 20px;
	width: 5%;
	margin-left: 40px;
	font-weight: bold;
}

/*add*/
.consumer-info-add{
	width: 100%;
	padding: 0 15px;
	padding-bottom: 5px;
	border-bottom: 1px solid #eee;
	background-color: white;
}
.consumer-info-add .consumer-address{
	display: inline-block;
	font-family: "黑体";
	width: 65%;
	margin-top: 3px;
}
.consumer-info-add .glyphicon {
	display: inline-block;
	padding-right: 10px;
	font-size: 17px;
	text-align: right;
	width: 10%;
	vertical-align: text-bottom;
	color: #aaa;
}

/*待购商品*/
.orderconfirm-goods{
	width: 100%;
	border-bottom: 1px solid #eee;
}

.orderconfirm-goodsdetail{
	width: 100%;
	height: auto;
	padding: 0 10px;
	margin-top: 10px;
	background-color: white;
}
.orderconfirm-goodsimg {
	overflow: hidden;
	width: 30%;
	margin: 10px 10px 10px 0;
	float: left;
	padding-top: 3px;
}
.orderconfirm-goodsimg img {
	width: 90px;
	height: 90px;
	height: auto;
}
.orderconfirm-goods-txt .goods-txt-name{
	font-family: "黑体";
	color: #333;
	/*font-weight: bold;*/
	font-size: 15px;
}
.orderconfirm-goods-txt .goods-txt-intro{
	font-family: "幼圆";
	color: #C1C1C1;
	font-size: 12px;
	margin-top: 15px;
}
.orderconfirm-goods-txt {
	width: 63%;
	margin: 10px 10px 10px 0;
	float: left
}
.orderconfirm-goods-txt .orderconfirm-price{
	color: #FE6045;
	font-size: 18px;
}
.orderconfirm-goods-txt .orgin-price{
	color: #AEAEAE;
	font-size: 12px;
	text-decoration: line-through;
	display: inline-block;
}
#order-goods-count {
	margin-right: 8px;
}
.ocnprice-item{
	width: 19px;
	height: 23px;
	border: none;
}
.ocoprice-item{
	width: 19px;
	height: 23px;
	border: none;
	text-decoration:line-through ;
	font-size: 14px;
}
.orderconfirm-goods-txt span.block .goods-count {
	color: #F76C3A;
}

/*到达时间*/
.orderconfirm-arrivetime{
	height: 40px;
	padding: 0 16px;
	margin-top: 10px;
	background-color: white;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
}
.orderconfirm-arrivetime span{
	margin-top: 10px;
	font-family: "黑体";
	font-size: 16px;
}
/*支付方式*/
.payment-orderconfirm{
	padding: 0 16px;
	height: 75px;
	margin-top: 10px;
	background-color: white;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
}
.payment-orderconfirm .payment-method-oc{
	margin-top: 10px;
	font-family: "黑体";
	font-size: 16px;
}
.payment-orderconfirm img{
	width: 16px;
	height: 16px;
}
/*留言*/
.orderconfirm-message{
	margin-top: 10px;
	background-color: white;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
}
.orderconfirm-message textarea{
	border: none;
	outline: none;
	width: 100%;
	padding: 3px 8px;
	font-size:14px;
}

/*总金额*/
.orderconfirm-totalamount{
	padding: 0 16px;
	margin-top: 10px;
	text-align: center;
	color: #FE6045;
	font-size: 15px;
}
.orderconfirm-totalamount .orgin-price{
	color: #999;
	font-size: 13px;
	text-decoration: line-through;
	display: inline-block;
	margin: 0 6px;
}
/*结算按钮*/
.orderconfirm-btn-pay{
	padding: 0 16px;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 60px;
}
.orderconfirm-btn-pay .register-info-submit-btn{
	width: 100%;
}
/*===============商品分类goodsclassify==============*/
.goodsclassify-head{
	height: 43px;
	padding: 13px 10px 0 10px;
	text-align: center;
	color: #333;
	font-size: 18px;
	font-family: "黑体";
	border-bottom: 1px solid #eee;
	background-color: white;
	
}
.goodsclassify-head .glyphicon-circle-arrow-left{
	color: #24DFC2;
	font-size: 20px;
}
.goodsclassify-header{
	padding-top: 8px;
	height: 35px;
	border-bottom: solid 1px #EEE;
	font-size: 15px;
	background-color: white;
	
	overflow: hidden;
	position: relative;
	padding: 0 10px;
}
.goodsclassify-header a.move{
	width: 6%;
	float: left;
	text-align: center;
	text-decoration: none;
	position: absolute;
	top: 9px;
	display: inline-block;
	font-weight: bolder;
	color: #aaa;
}
.goodsclassify-slide{
	width:100%;
	height: 35px;
	overflow: hidden;
	position: relative;
}
.goodsclassify-slide li.active {
	border-bottom: solid 3px #F7492E;
	color: #F7492E;
}
.goodsclassify-header  ul{
	overflow: hidden;
	background-color: white;
	position: absolute;
	left: 0;
	padding-top: 8px;
	-webkit-transition: left 0.3s ease-in-out;
	-ms-transition: left 0.3s ease-in-out;
	-moz-transition: left 0.3s ease-in-out;
	-o-transition: left 0.3s ease-in-out;
	transition: left 0.3s ease-in-out;
}
.goodsclassify-header li{
	width: 90px;
	height: 26px;
	overflow: hidden;
	float: left;
	text-align: center;
	font-family: "微软雅黑";
}
.goodsclassify-header li a {
	display: inline-block;
	width: 100%;
	height: 100%;
}
.moveright{
	right: -5px;
}
.moveleft{
	left: -5px;
	z-index: 2;
}
.body-y{
	width: 100%;
	padding-bottom: 30px;
}
.goodsclassify-goodsdetail{
	width: 100%;
	height: auto;
	padding: 10px;
	background-color: white;
	border-bottom: 1px solid #eee;
}
.goodsclassify-goodsimg{
	overflow: hidden;
	width: 33%;
	float: left;
}
.goodsclassify-goodsimg img {
	width: 90px;
	height: 90px;
	max-height: 120px;
}
.goodsclassify-goods-txt{
	width: 65%;
	height: auto;
	float: right
}
.goodsclassify-goods-txt .goods-txt-name{
	font-family: "黑体";
	color: #333;
	font-size: 15px;
	padding: 3px 0;
}
.goodsclassify-goods-txt .goods-txt-intro{
	font-family: "幼圆";
	color: #C1C1C1;
	font-size: 12px;
	word-wrap: break-word;
	white-space:nowrap;
	/*word-break:keep-all;*/
	overflow:hidden;
	text-overflow:ellipsis;
}
.goodsclassify-goods-txt .goodsclassify-price{
	color: #FE6045;
	font-size: 18px;
	margin-top: 10px;
}
.goodsclassify-goods-txt .orgin-price{
	color: #AEAEAE;
	font-size: 12px;
	text-decoration: line-through;
	display: inline-block;
	margin-top: 10px;
}
.goodsclassify-sales{
	color: #9F9F9F;
	margin-top: 12px;
	margin-right: 15px;
}

/*==================搜索商品==================*/
/*热门搜索*/
.left-icon-sg{
	display: inline-block;
	float: left;
	font-size: 20px;
	font-family: "黑体";
	margin-top: 5px;
	color: white;
	font-weight: bold;
}
.searchgoods-search {
	width: 100%;
	height: 40px;
	background: #24dfc2;
	padding: 8px;
	position: relative;
}
.searchgoods-search > div {
	width: 90%;
	background: #61efdf;
	float:right;
}
.searchgoods-search span.glyphicon {
	width: 6%;
	text-align: right;
	vertical-align: -1px;
}
#searchgoods-head .glyphicon-search {
	padding-top: 5px;
	height: 25px;
	display: inline-block;
	width: 9%;
	text-align: center;
	font-size: 16px;
}
#searchgoods-head .ui-input-text {
	float: left;
	width: 88%;
}
.searchgoods-search input {
	padding-left: 8px;
	height: 25px;
	border-radius: 3px;
	width: 80%;
	background: #61efdf;
	border: none;
	font-size: 15px;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.example-heading{
	font-family: "黑体";
	font-size: 15px;
	color: #2A2A2A;
	padding: 10px 10px 0 10px;
	height: 30px;
}
.searchgoods-example{
	width: 100%;
	background-color: white;
	border-bottom: solid 1px #eee;
}
.example-group{
	margin:10px 10px 3px 10px;
}
.searchgoods-example-item{
	margin-bottom: 10px;
	display: inline-block;
	font-size: 14px;
	padding: 10px;
	border-radius:4px ;
	border: solid 1px #D3D3D3;
	margin-right: 15px;
	color: #4F4F4F;
}
.searchgoods-goodsexample{
	width: 100%;
	/*padding: 0 10px;*/
	margin-top: 10px;
	padding-bottom: 59px;
}
.searchgoods-goodsdetail{
	width: 100%;
	height: 120px;
	padding: 0 10px;
/*	margin-top: 10px;*/
	background-color:#FAFAFA;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
}
.searchgoods-goodsimg{
	overflow: hidden;
	width: 35%;
	height: auto;
	margin: 10px 10px 10px 0;
	float: left;
}
.searchgoods-goods-txt .goods-txt-name{
	font-family: "黑体";
	color: #333;
	font-size: 15px;
	height: 30px;
}
.searchgoods-goods-txt .goods-txt-intro{
	font-family: "幼圆";
	color: #C1C1C1;
	font-size: 12px;
	height: auto;
}
.searchgoods-goods-txt{
	width: 55%;
	height: 100px;
	margin: 10px 10px 10px 0;
	float: left
}
.searchgoods-goods-txt .searchgoods-price{
	color: #FE6045;
	font-size: 18px;
}
.searchgoods-goods-txt .orgin-price{
	color: #AEAEAE;
	font-size: 12px;
	text-decoration: line-through;
	display: inline-block;
}
.searchgoods-sales{
	color: #9F9F9F;
	margin-top: 6px;
}

/*====================searchonly===================*/
.left-icon-sg{
	display: inline-block;
	float: left;
	font-size: 20px;
	font-family: "黑体";
	margin-top: 5px;
	color: white;
	font-weight: bold;
}
.searchonly-search {
	width: 100%;
	height: 40px;
	background: #24dfc2;
	padding: 8px;
}
.searchonly-search > div {
	width: 95%;
	background: #61efdf;
	float:right;
}
.searchonly-search span.glyphicon {
	width: 5%;
	text-align: right;
	color: #C3F8F0;
}
.searchonly-search input {
	height: 25px;
	border-radius: 3px;
	width: 92%;
	background: #61efdf;
	border: none;
}
/*推荐*/
.suggest{
	width: 100%;
	/*height: 21px;*/
}
.suggest li{
	height: 35px;
	padding-left: 20px;
	border-bottom: 1px solid #eee;
	padding-top: 10px;
	font-size: 14px;
	color: #636363;
}
.clearhistory{
	width: 100%;
	height: 35px;
	background-color: #FAFAFA;
	border-bottom: 1px solid #CFD6DC;
	color: #3D3D3D;
}

/*search*/
#search-history-container {
	position: absolute;
	left: 0;
	top: 40px;
	width: 100%;
	background: #fff;
	font-size: 15px;
	overflow: hidden;
	/*height: 0;*/
}
.search-history-item {
	width: 100%;
	height: 35px;
	padding-left: 30px;
	padding-top: 8px;
	border-bottom: 1px solid rgb(250,250,250);
}
.search-history-item a {
	width: 100%;
	height: 100%;
	padding: 10px 0 0 30px;
	display: inline-block;
	text-decoration: none;
	color: #999;
}
#clear-history-list p,
#clear-history-list h1 {
	text-align: center;
	color: #999;
	padding: 5px 0;
	width: 100%;
	background: rgb(253,253,253);
	text-decoration: none;
	margin-top: 8px;
}
#clear-history-list p {
	margin-top: 20px;
}
/*=============userinfo修改子页面===========*/
.wrapper{
	width: 100%;
	height: auto;
	padding: 0 20px;
}
.userinfo-change-head{
	padding-top: 13px;
	height: 43px;
	border-bottom: solid 2px #333;
	text-align: center;
	font-size: 20px;
	font-family: "黑体";
	color: #333;
	padding-left: 8px;
}
.kongbai{
	width: 100%;
	height: 20px;
}
.userinfo-change-input{
	width: 100%;
	margin:0 auto;
	height: 40px;
	font-size: 16px;
	padding-left: 10px;
	border-radius: 2px;
	border-bottom: solid 1px #eee;
	border-top: solid 1px #eee;
	border-right: solid 2px #eee;
	border-left: solid 2px #eee;
	
}
.userinfo-change-btn{
	width: 100%;
	height: 45px;
	color: white;
	font-size: 16px;
	background-color: #FF563A;
}











