<!doctype html>
<html lang="en">
	<head>
		<title>For优选择学校</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		
		<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/commonstyle.css" />
		<link rel="icon" href="/fuwebapp/favicon.ico" type="image/x-icon" />
		<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/style.css" />
	</head>
	<body>
		<div id="selectcampus-head">
			<div class="head-top bground-special ">
				<span class="fl history-back glyphicon glyphicon-circle-arrow-left"></span>
				<span class="head-title">选择学校</span>
			</div>
		</div>
		<div id="selectcampus-body" class="w">
			<!-- <div id="selectcampus-body-search">
				<div>
					<span class="glyphicon glyphicon-search"></span>
					<input type="text" placeholder="请输入您的学校名称 ">	
				</div>	
			</div> -->
			<div id="city-campus-nav" class="clearfix">
				<div id="city-nav">
					<ul>
						<foreach name="cityList" item="vo">
							<if condition="$key eq 0">
								<li class="active" data-id="{$vo.city_id}"><a>{$vo.city_name}</a></li>
							<else/><li data-id="{$vo.city_id}"><a>{$vo.city_name}</a></li>
							</if>
						</foreach>
					</ul>
				</div>
				<div id="campus-nav">
					<ul>
						<foreach name="campusList" item="vi">
							<li data-id="{$vi.campus_id}">
								<a href="{:U('Index/index',array('campus_id'=>$vi['campus_id']))}">
									{$vi.campus_name}
								</a>
							</li>
						</foreach>
					</ul>
				</div>
			</div>
		</div>

		<!-- <include file='App/Home/View/Common/commonnav1.html'/> -->
		
		<script type="text/javascript" src="__PUBLIC__/script/plugins/jquery-1.11.2.js"></script>
		<script src="__PUBLIC__/script/selectcampus.js"></script>
		<script src="__PUBLIC__/script/common.js"></script>
	</body>
</html>