<!doctype html>
<html lang="en">
	<head>
		<title>For优 关于我们</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/commonstyle.css" />
		<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/style.css" />
		<link rel="icon" href="/fuwebapp/favicon.ico" type="image/x-icon" />
	</head>
	<body>
		<div id="aboutforu-head">
			<div class="head-top background-special">
				<span class="fl text-special history-back glyphicon glyphicon-circle-arrow-left"></span>
				<span class="head-title">关于我们</span>
			</div>
			<div id="aboutfu-head-bottom">
				<img src="__PUBLIC__/img/aboutus.png" alt="">
			</div>
		</div>
		<div id="about-foru-body">
			<p> For优是由苏州英爵伟信息科技服务有限公司于2015年创建，致力于打造最优校园生活平台。紧跟潮流，运用互联网技术位大学生提供更优质便捷的生活，用户至上。</p>
			<p> “为你 为更好地生活” 使我们始终奉行的服务理念</p> 
		</div>
		<!-- <include file='App/Home/View/Common/commonnav3.html'/> -->

		<script type="text/javascript" src="__PUBLIC__/script/plugins/jquery-1.11.2.js"></script>
		<script src="__PUBLIC__/script/common.js"></script>
	</body>
</html>