<!doctype html>
<html lang="en">
	<head>
		<title>For设置</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="icon" href="/fuwebapp/favicon.ico" type="image/x-icon" />
		<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/commonstyle.css" />
		<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/style.css" />
	</head>
	<body>
		<div class="head-top">
			<span class="fl history-back glyphicon glyphicon-circle-arrow-left text-special"></span>
			<span class="head-title">设置</span>
		</div>
		<div id="settings-body">
		   <form action="">
		   		<div id="call-service" class="user-info-input">
		   			<span class="fl">
		   				<a href="tel:{$telphone}">联系客服</a>
		   			</span>
		   		</div>
		   		<a href="{:U('Person/aboutforu')}">
			   		<div class="user-info-input">
			   			<span class="fl">关于我们</span>
			   			<span class="fr">
							<img class="forward-arrow"  src="__PUBLIC__/img/icon/forwardarrow.jpg" alt="">
			   			</span>
			   		</div>
			   	</a>	
		   		<a href="{:U('Person/changepword')}">
			   		<div class="user-info-input">
			   			<span class="fl">修改密码</span>
			   			<span class="fr">
			   				<img class="forward-arrow"  src="__PUBLIC__/img/icon/forwardarrow.jpg" alt="">
			   			</span>
			   		</div>
			   	</a>
			   	<a href="{:U('Login/logout')}">
		   			<input type="button" id="quitlog-button" value="退出登陆">
		   		</a>
		   </form>
		</div>
		
		<!-- <include file='App/Home/View/Common/commonnav3.html'/> -->

		<script type="text/javascript" src="__PUBLIC__/script/plugins/jquery-1.11.2.js"></script>
		<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
		<script src="__PUBLIC__/script/common.js"></script>
	</body>
</html>