<!DOCTYPE html>
<html>
	<head>
		<title>For优 商品分类</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1" />	
		<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/commonstyle.css" />
		<link rel="icon" href="/fuwebapp/favicon.ico" type="image/x-icon" />
		<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/style.css" />
		<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/style-y.css" />
		<style>
			body{
				background-color: #FAFAFA;
			}
		</style>
	</head>
	<body>
		<div class="goodsclassify-head w" id="gch">
			<a href="{:U('/Home/Index/index')}"><span class="glyphicon glyphicon-circle-arrow-left fl"></span></a>
			<span>分类</span>
		</div><!--register-head-->
		
		<div class="goodsclassify-header w">
		    <div class="goodsclassify-slide">
				<ul id="classify-navi">
					<foreach name="category" item="vo">
						<if condition="$vo['category_id'] eq $categoryId">
					 		<li class="active" data-id="{$vo.category_id}">
					 	<else/><li data-id="{$vo.category_id}">
					 	</if>
					 		<a href="{:U('Commodity/goodsclassify',array('categoryId'=>$vo['category_id']))}">		 
				     			{$vo.category}
				     		</a>
				     	</li>
					</foreach>		
				</ul>
			</div>
		</div>
			
		<div class="body-y">	
			<foreach name="goodlist" item="vi">
				<a href="{:U('Commodity/goodsinfo',array('food_id'=>$vi['food_id']))}">
					<div class="goodsclassify-goodsdetail clearfix">
						<div class="goodsclassify-goodsimg" data-foodid="{$vi.food_id}">
							<img src="{$vi.img_url}" />
						</div>

						<div class="goodsclassify-goods-txt">
						
							<div class="goods-txt-name">
								{$vi.name}
							</div>
							<div class=" goods-txt-intro">
								{$vi.message}
							</div>
							
							<div>
								<div class="fl">
									<div class="goodsclassify-price fl discount-price">
										￥{$vi.discount_price}
									</div> 
									<span class="orgin-price fl bef-price"> 	￥{$vi.price}
									</span>
								</div>
								<div class="ri">
									<div class="goodsclassify-sales">	
										销量：{$vi.sale_number}
									</div>
								</div>
							</div>
						</div>
					</div>
				</a>
			</foreach>
			<div class="msg-page">
				<div class="page">{$page}</div>
			</div>			
		</div>	
		
		<include file='App/Home/View/Common/commonnav1.html'/>
		
		<script type="text/javascript" src="__PUBLIC__/script/plugins/zepto.js"></script>
		<script src="__PUBLIC__/script/common.js"></script>
		<script src="__PUBLIC__/script/goodsclassify.js"></script>
	
	</body>
</html>
